@model modelNhom

<div class="col-xxl" id="_showN"></div>

<div class="col-xxl" id="_mainN" style="display: none">
    <div class="card mb-4">
        <h5 class="card-header">@Model.duongDan</h5>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-borderless" id="tableNhomCaNhan">
                    <tbody>
                        <tr>
                            <td>
                                <strong>Hình thức thi:</strong>
                            </td>
                            <td>
                                <div id="hinhThuc">
                                    @Model.hinhThuc.tenHinhThuc
                                </div>
                            </td>
                            <td>
                                <strong>Ngày thi:</strong>
                            </td>
                            <td>
                                <div id="ngayThi">
                                    @Model.ngayThi
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Sĩ số:</strong>
                            </td>
                            <td>
                                <div id="siSo">
                                    @Model.siSo
                                </div>
                            </td>
                            <td>
                                <strong>Dự thi:</strong>
                            </td>
                            <td>
                                <div id="thamDu">
                                    @Model.thamDu
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Số lượng đề:</strong>
                            </td>
                            <td>
                                <div id="soDe">
                                    @Model.soDe
                                </div>
                            </td>
                            <td>
                                <strong>Số đáp án:</strong>
                            </td>
                            <td>
                                <div id="soDapAn">
                                    @Model.soDapAn
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>File .zip bài thi:</strong>
                            </td>
                            <td>
                                <div id="zip">
                                    @if (Model.zipBaiThi != null && Model.zipBaiThi != "")
                                    {
                                        <button type="button" class="btn btn-xs btn-primary" onclick="Download('@Model.zipBaiThi')">Tải xuống .Zip</button>
                                    }
                                    else
                                    {
                                        <span>---</span>
                                    }
                                </div>
                            </td>
                            <td colspan="2" rowspan="4" style="text-align: center;vertical-align: middle" class="align-content-center">
                                <div id="DoThiDiem" class="align-content-center">
                                    @if (Model.excelDiem != null && Model.excelDiem != "")
                                    {
                                        <canvas id="canvasDoThi" style="max-width: 350px"></canvas>
                                    }
                                    else
                                    {
                                        <h5>Chưa có thông tin chi tiết điểm</h5>
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>File .pdf đề thi:</strong>
                            </td>
                            <td>
                                <div id="pdfDe">
                                    @if (Model.pdfDe != null && Model.pdfDe != "")
                                    {
                                        <button type="button" class="btn btn-xs btn-primary" onclick="Download('@Model.pdfDe')">Tải xuống .PDF</button>
                                    }
                                    else
                                    {
                                        <span>---</span>
                                    }

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>File .pdf điểm thi:</strong>
                            </td>
                            <td>
                                <div id="pdfDiem">
                                    @if (Model.pdfDiem != null && Model.pdfDiem != "")
                                    {
                                        <button type="button" class="btn btn-xs btn-primary" onclick="Download('@Model.pdfDiem')">Tải xuống .PDF</button>
                                    }
                                    else
                                    {
                                        <span>---</span>
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>File .xlsx điểm thi:</strong>
                            </td>
                            <td>
                                <div id="excel">
                                    @if (Model.excelDiem != null && Model.excelDiem != "")
                                    {
                                        <button type="button" class="btn btn-xs btn-primary" onclick="Download('@Model.excelDiem')">Tải xuống Excel</button>
                                    }
                                    else
                                    {
                                        <span>---</span>
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Đường dẫn Elearning (nếu có):</strong>
                            </td>
                            <td colspan="3">
                                <div id="elearning">
                                    @if (Model.elearning != null && Model.elearning != "")
                                    {
                                        <a href="@Model.elearning" target=_blank>@Model.elearning</a>
                                    }
                                    else
                                    {
                                        <span>---</span>
                                    }
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="row" style="text-align: right">
                <div class="col-sm-12" id="divBtn">
                    <button onclick="ChinhSua('@Model.id', '@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value')" class="btn btn-primary">
                        Chỉnh sửa
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- edit -->
<div class="col-xxl" id="_editN" style="display: none">
    <div class="card mb-4">
        <h5 class="card-header">@Model.duongDan</h5>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-borderless" id="tableNhomCaNhan">
                    <tbody>
                        <tr>
                            <td>
                                <strong>Hình thức thi:</strong>
                            </td>
                            <td>
                                <select class="form-control form-select" id="selectHinhThuc">
                                </select>
                            </td>
                            <td>
                                <strong>Ngày thi:</strong>
                            </td>
                            <td>
                                @{
                                    if (Model.ngayThi != "---")
                                    {
                                        var d = Model.ngayThi.Split('/');
                                        <input type="date" class="form-control" id="textNgayThi" value="@d[2]-@d[1]-@d[0]">
                                    }
                                    else
                                    {
                                        <input type="date" class="form-control" id="textNgayThi" value="">
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Sĩ số:</strong>
                            </td>
                            <td>
                                <input type="number" min="0" class="form-control" id="textSiSo" value="@Model.siSo">
                            </td>
                            <td>
                                <strong>Dự thi:</strong>
                            </td>
                            <td>
                                <input type="number" min="0" class="form-control" id="textThamDu" value="@Model.thamDu">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Số lượng đề:</strong>
                            </td>
                            <td>
                                <input type="number" min="0" class="form-control" id="textSoDe" value="@Model.soDe">
                            </td>
                            <td>
                                <strong>Số đáp án:</strong>
                            </td>
                            <td>
                                <input type="number" min="0" class="form-control" id="textSoDA" value="@Model.soDapAn">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>File .zip bài thi:</strong>
                            </td>
                            <td>
                                @if (Model.zipBaiThi != null && Model.zipBaiThi != "")
                                {
                                    <button type="button" class="btn btn-xs btn-warning" style="width: 80%"
                                            onclick="TaiLenZip()">
                                        Tải file khác
                                    </button>
                                    <button type="button" class="btn btn-xs btn-danger" style="width: 19%" data-bs-toggle="modal" data-bs-target="#modalXoaFile"
                                            onclick="HienXoaFile('zip')">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-xs btn-primary" onclick="TaiLenZip()">Tải lên file .Zip</button>
                                }
                                <input type="file" id="fileZip" style="display: none" accept=".zip">
                            </td>
                            <td colspan="2" rowspan="4" style="text-align: center;vertical-align: middle" class="align-content-center">
                                <div id="DoThiDiem" class="align-content-center">
                                    <div class="demo-inline-spacing mt-3" id="divThongTin">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex align-items-left">
                                                <i class="fa fa-file-archive-o" style="margin-right: 20px"></i>
                                                <span class="col-md-6">.Zip bài thi: </span>
                                                @{ var x1 = Model.zipBaiThi == null ? "Trống" : "Đã tải lên"; }
                                                <span class="col-md-3" id="nameZip">@x1</span>
                                            </li>
                                            <li class="list-group-item d-flex align-items-left">
                                                <i class="fa fa-file-archive-o" style="margin-right: 20px"></i>
                                                <span class="col-md-6">.PDF đề thi: </span>
                                                @{ var x2 = Model.pdfDe == null ? "Trống" : "Đã tải lên"; }
                                                <span class="col-md-3" id="nameDe">@x2</span>
                                            </li>
                                            <li class="list-group-item d-flex align-items-left">
                                                <i class="fa fa-file-archive-o" style="margin-right: 20px"></i>
                                                <span class="col-md-6">.PDF điểm thi: </span>
                                                @{ var x3 = Model.pdfDiem == null ? "Trống" : "Đã tải lên"; }
                                                <span class="col-md-3" id="nameDiem">@x3</span>
                                            </li>
                                            <li class="list-group-item d-flex align-items-left">
                                                <i class="fa fa-file-archive-o" style="margin-right: 20px"></i>
                                                <span class="col-md-6">.xlsx điểm thi: </span>
                                                @{ var x4 = Model.excelDiem == null ? "Trống" : "Đã tải lên"; }
                                                <span class="col-md-3" id="nameExcel">@x4</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>File .pdf đề thi:</strong>
                            </td>
                            <td>
                                @if (Model.pdfDe != null && Model.pdfDe != "")
                                {
                                    <button type="button" class="btn btn-xs btn-warning" style="width: 80%"
                                            onclick="TaiLenPDFDe()">
                                        Tải file khác
                                    </button>
                                    <button type="button" class="btn btn-xs btn-danger" style="width: 19%" data-bs-toggle="modal" data-bs-target="#modalXoaFile"
                                            onclick="HienXoaFile('pdfDe')">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-xs btn-primary" onclick="TaiLenPDFDe()">Tải lên file .pdf</button>
                                }
                                <input type="file" id="filePDFDe" style="display: none" accept=".pdf">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>File .pdf điểm thi:</strong>
                            </td>
                            <td>
                                @if (Model.pdfDiem != null && Model.pdfDiem != "")
                                {
                                    <button type="button" class="btn btn-xs btn-warning" style="width: 80%"
                                            onclick="TaiLenPDFDiem()">
                                        Tải file khác
                                    </button>
                                    <button type="button" class="btn btn-xs btn-danger" style="width: 19%" data-bs-toggle="modal" data-bs-target="#modalXoaFile"
                                            onclick="HienXoaFile('pdfDiem')">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-xs btn-primary" onclick="TaiLenPDFDiem()">Tải lên file .pdf</button>
                                }
                                <input type="file" id="filePDFDiem" style="display: none" accept=".pdf">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>File .xlsx điểm thi:</strong>
                            </td>
                            <td>
                                @if (Model.excelDiem != null && Model.excelDiem != "")
                                {
                                    <button type="button" class="btn btn-xs btn-warning" style="width: 80%"
                                            onclick="TaiLenExcel()">
                                        Tải file khác
                                    </button>
                                    <button type="button" class="btn btn-xs btn-danger" style="width: 19%" data-bs-toggle="modal" data-bs-target="#modalXoaFile"
                                            onclick="HienXoaFile('excel')">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-xs btn-primary" onclick="TaiLenExcel()">Tải lên file .xlsx</button>
                                }
                                <input type="file" id="fileExcel" style="display: none" accept=".xlsx">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Đường dẫn Elearning (nếu có):</strong>
                            </td>
                            <td colspan="3">
                                @{ var e = Model.elearning == null ? "" : Model.elearning; }
                                <input type="text" class="form-control" id="textElearning" value="@e" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="row" style="text-align: right">
                <div class="col-sm-12" id="divBtn">
                    <button onclick="HuyBo()" class="btn btn-secondary">Hủy bỏ</button>
                    <button data-bs-toggle="modal" data-bs-target="#modalXacNhan" class="btn btn-success">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- xac nhan modal -->
<div class="modal fade" id="modalXacNhan" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Xác nhận</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>Xác nhận chỉnh sửa?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="modalDong">
                    Đóng
                </button>
                <button type="button" class="btn btn-primary" onclick="Luu('@Model.id')">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<!-- xac nhan modal -->
<!-- xac nhan modal -->
<div class="modal fade" id="modalXoaFile" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <p id="fileType" style="display: none"></p>
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Xác nhận</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>Xóa file này khỏi cơ sở dữ liệu?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="modalDong">
                    Đóng
                </button>
                <button type="button" class="btn btn-danger" onclick="XoaFile('@Model.id')" id="btnXoaFile">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<!-- xac nhan modal -->

<script src="~/js/_ChiTietNhom.js" asp-append-version="true"></script>