@model modelNhom
@{
    ViewData["Title"] = "ChiTietNhomThiCaNhan";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="col-xxl">
    <div class="card mb-4">
        <h5 class="card-header">@Model.duongDan</h5>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-borderless" id="tableNhomCaNhan">
                    <tbody>
                        <tr>
                            <td>
                                <strong>Hình thức thi:</strong>
                            </td>
                            <td>
                                <div id="hinhThuc">
                                    @Model.hinhThuc.tenHinhThuc
                                </div>
                            </td>
                            <td>
                                <strong>Ngày thi:</strong>
                            </td>
                            <td>
                                <div id="ngayThi">
                                    @Model.ngayThi
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Sĩ số:</strong>
                            </td>
                            <td>
                                <div id="siSo">
                                    @Model.siSo
                                </div>
                            </td>
                            <td>
                                <strong>Dự thi:</strong>
                            </td>
                            <td>
                                <div id="thamDu">
                                    @Model.thamDu
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Số lượng đề:</strong>
                            </td>
                            <td>
                                <div id="soDe">
                                    @Model.soDe
                                </div>
                            </td>
                            <td>
                                <strong>Số đáp án:</strong>
                            </td>
                            <td>
                                <div id="soDapAn">
                                    @Model.soDapAn
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>File .zip bài thi:</strong>
                            </td>
                            <td>
                                <div id="zip">
                                    @if (Model.zipBaiThi != null && Model.zipBaiThi != "")
                                    {
                                        <button type="button" class="btn btn-xs btn-primary" onclick="Download('@Model.zipBaiThi')">Tải xuống .Zip</button>
                                    }
                                    else
                                    {
                                        <span>---</span>
                                    }
                                </div>
                            </td>
                            <td colspan="2" rowspan="4" style="text-align: center;vertical-align: middle" class="align-content-center">
                                <div id="DoThiDiem" class="align-content-center">
                                    @if (Model.excelDiem != null && Model.excelDiem != "")
                                    {
                                        <canvas id="canvasDoThi" style="max-width: 350px"></canvas>
                                    }
                                    else
                                    {
                                        <h5>Chưa có thông tin chi tiết điểm</h5>
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>File .pdf đề thi:</strong>
                            </td>
                            <td>
                                <div id="pdfDe">
                                    @if (Model.pdfDe != null && Model.pdfDe != "")
                                    {
                                        <button type="button" class="btn btn-xs btn-primary" onclick="Download('@Model.pdfDe')">Tải xuống .Zip</button>
                                    }
                                    else
                                    {
                                        <span>---</span>
                                    }

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>File .pdf điểm thi:</strong>
                            </td>
                            <td>
                                <div id="pdfDiem">
                                    @if (Model.pdfDiem != null && Model.pdfDiem != "")
                                    {
                                        <button type="button" class="btn btn-xs btn-primary" onclick="Download('@Model.pdfDiem')">Tải xuống .Zip</button>
                                    }
                                    else
                                    {
                                        <span>---</span>
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>File .xlsx điểm thi:</strong>
                            </td>
                            <td>
                                <div id="excel">
                                    @if (Model.excelDiem != null && Model.excelDiem != "")
                                    {
                                        <button type="button" class="btn btn-xs btn-primary" onclick="Download('@Model.excelDiem')">Tải xuống .xlsx</button>
                                    }
                                    else
                                    {
                                        <span>---</span>
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Đường dẫn Elearning (nếu có):</strong>
                            </td>
                            <td colspan="3">
                                <div id="elearning">
                                    @if (Model.elearning != null && Model.elearning != "")
                                    {
                                        <a href="@Model.elearning" target=_blank>@Model.elearning</a>
                                    }
                                    else
                                    {
                                        <span>---</span>
                                    }
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="row justify-content-end">
                <div class="col-sm-4" id="divBtn">
                    <button onclick="ChinhSua('@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value','@Model.id')" class="btn btn-primary">
                        Chỉnh sửa
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/ChiTietNhomCaNhan.js" asp-append-version="true"></script>