@model modelNhom
@{
    Layout = null;
}

<h4>Lịch sử chỉnh sửa</h4>
<table class="table table-sm table-hover" style="width: 50%">
    <thead>
        <tr>
            <td><strong>STT</strong></td>
            <td><strong>Lý do</strong></td>
            <td><strong>Thời gian</strong></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.diem)
        {
            if (i.lanChinhSua == (int)ViewData["Diem"])
            {
                <tr class="cursor-pointer" style="color: #696cff; font-weight: bold;">
                    <td>@i.lanChinhSua</td>
                    <td>@i.lyDo</td>
                    <td>@i.ngaySua</td>
                </tr>
            }
            else
            {
                if (i.lyDo == "Xóa file excel")
                {
                    <tr class="cursor-pointer" style="color: #ff3e1d; font-weight: bold;">
                        <td>@i.lanChinhSua</td>
                        <td>@i.lyDo</td>
                        <td>@i.ngaySua</td>
                    </tr>
                }
                else
                {
                    <tr class="cursor-pointer" onclick="HienLichSu('@i.lanChinhSua','@Model.id')">
                        <td>@i.lanChinhSua</td>
                        <td>@i.lyDo</td>
                        <td>@i.ngaySua</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
<br />
<h4>Chi tiết</h4>
<table class="table table-sm table-edit" id="tableDiemThi">
    <thead>
        <tr>
            <th style="width: 50px;text-align: center">STT</th>
            <th style="width: 200px;text-align: left">MSSV</th>
            @foreach (var i in Model.thanhPhan)
            {
                <th style="text-align: left;">@i</th>
            }
        </tr>
    </thead>
    <tbody class="">
        @{ var stt = ViewData["Diem"]; }
        @if (Model.diem.Count > 0)
        {
            @if ((int)ViewData["Diem"] != Model.diem.Count - 1)
            {
                @foreach (var i in (Model.diem.Where(a => a.lanChinhSua == (int)stt)).FirstOrDefault().ds)
                {
                    <tr>
                        <td class="count" style="text-align: center"></td>
                        <td>
                            @i.mssv
                        </td>
                        @foreach (var d in i.diem)
                        {
                            <td>
                                @d
                            </td>
                        }
                    </tr>
                }
            }
            else
            {
                @foreach (var i in (Model.diem.Where(a => a.lanChinhSua == (int)stt)).FirstOrDefault().ds)
                {
                    <tr>
                        <td class="count" style="text-align: center"></td>
                        <td contenteditable="true">
                            @i.mssv
                        </td>
                        @foreach (var d in i.diem)
                        {
                            <td contenteditable="true">
                                @d
                            </td>
                        }
                    </tr>
                }
                <tr onclick="ThemHangDiem(@Model.thanhPhan.Count(), this)">
                    <td style="width: 50px; text-align: center" class="count">
                    </td>
                    <td class="editabletd" contenteditable="true" style="width: 200px;text-align: left" placeholder="...">
                        ...
                    </td>
                    @foreach (var i in Model.thanhPhan)
                    {
                        <td class="editabletd" contenteditable="true">
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
@if ((int)ViewData["Diem"] == Model.diem.Count - 1)
{
    @if (Model.dateNgayThi <= Model.hocPhan.dateHanNop)
    {
        <div class="card-footer">
            <div class="row" style="text-align: right">
                <div class="col-sm-12" id="divBtn">
                    <button onclick="LuuDiem('@Model.id','@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value')" class="btn btn-primary" id="btnLuuDiem" style="display: unset">
                        Lưu
                    </button>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="card-footer">
            <div class="row" style="text-align: right">
                <div class="col-sm-12" id="divBtn">
                    <button class="btn btn-secondary" disabled>
                        Đã hết hạn chỉnh sửa
                    </button>
                </div>
            </div>
        </div>
    }
}
<script asp-append-version="true">
    DoThiLichSu('@ViewData["Diem"]', '@Model.id');
</script>
