@model IEnumerable<modelMaHocPhan>
@{
    ViewData["Title"] = "MaHocPhan";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4>Danh sách mã học phần</h4>
        <button class="btn btn-sm btn-primary"
                onclick="ResetModal()"
                data-bs-toggle="modal"
                data-bs-target="#modalCenter">
            Thêm mới
        </button>
    </div>
    <div class="card-body">
        <table class="table table-sm table-hover table-mahocphan" id="table-mahocphan">
            <thead>
                <tr>
                    <th onclick="sortTable(1, 'table-mahocphan')">Mã<i class="bx bx-sort-alt-2"></i></th>
                    <th onclick="sortTable(2, 'table-mahocphan')">Tên học phần<i class="bx bx-sort-alt-2"></i></th>
                    <th onclick="sortTable(3, 'table-mahocphan')">Tín chỉ<i class="bx bx-sort-alt-2"></i></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.OrderBy(a => a.id))
                {
                    <tr>
                        <td style="display: none">@i.id</td>
                        <td>
                            @i.ma
                        </td>
                        <td>
                            @i.tenHocPhan
                        </td>
                        <td class="text-center">
                            @i.soTinChi
                        </td>
                        <td class="text-center">
                            <i class="bx bx-edit-alt cursor-pointer" onclick="ChinhSuaMHP(this)" 
                               data-bs-toggle="modal" data-bs-target="#modalEditMHP"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- them hp modal -->
<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Thêm mã học phần</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <span class="alert-danger" id="span-existed" style="display: none">*Mã học phần đã tồn tại</span>
                    <table class="table table-borderless table-responsive table-modal-mhp">
                        <tr>
                            <td>Mã học phần:</td>
                            <td>
                                <input type="text"
                                       id="textMHP"
                                       class="form-control"
                                       autocomplete="off"
                                       placeholder="Nhập mã học phần..." />
                            </td>
                        </tr>
                        <tr>
                            <td>Tên học phần:</td>
                            <td>
                                <input type="text"
                                       id="textTHP"
                                       class="form-control"
                                       autocomplete="off"
                                       placeholder="Nhập tên học phần..." />
                            </td>
                        </tr>
                        <tr>
                            <td>Số tín chỉ:</td>
                            <td>
                                <input type="number"
                                       id="textTC"
                                       class="form-control"
                                       autocomplete="off" min="0"
                                       placeholder="Nhập số tín chỉ..." />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="modalDong">
                    Đóng
                </button>
                <button type="button" class="btn btn-primary" onclick="ThemMHP()" id="btnLuuMHP">Lưu</button>
            </div>
        </div>
    </div>
</div>
<!-- them nhom modal -->

<!-- them hp modal -->
<div class="modal fade" id="modalEditMHP" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Thêm mã học phần</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <span class="alert-danger" id="span-existed" style="display: none">*Mã học phần đã tồn tại</span>
                    <table class="table table-borderless table-responsive table-modal-mhp">
                        <tr>
                            <td>Mã học phần:</td>
                            <td>
                                <input type="text"
                                       id="textEditMHP"
                                       class="form-control"
                                       autocomplete="off"
                                       placeholder="Nhập mã học phần..." />
                            </td>
                        </tr>
                        <tr>
                            <td>Tên học phần:</td>
                            <td>
                                <input type="text"
                                       id="textEditTHP"
                                       class="form-control"
                                       autocomplete="off"
                                       placeholder="Nhập tên học phần..." />
                            </td>
                        </tr>
                        <tr>
                            <td>Số tín chỉ:</td>
                            <td>
                                <input type="number"
                                       id="textEditTC"
                                       class="form-control"
                                       autocomplete="off" min="0"
                                       placeholder="Nhập số tín chỉ..." />
                                <input type="text" style="display: none" id="textEditID"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="modalDong">
                    Đóng
                </button>
                <button type="button" class="btn btn-primary" onclick="LuuChinhSua()" id="btnEditMHP">Lưu</button>
            </div>
        </div>
    </div>
</div>
<!-- them nhom modal -->

<script asp-append-version="true">
    var data = @Html.Raw(Json.Serialize(@Model));

    // Them ma hoc phan
    function ThemMHP() {
        var ma = $('#textMHP').val()
        var ten = $('#textTHP').val()
        var tc = $('#textTC').val()
        var existed = false;
        for (var i in data) {
            if (data[i].ma == ma.toUpperCase()) {
                existed = true;
            }
        }
        if (existed == true) {
            document.getElementById('span-existed').style.display = 'unset'
        }
        else {
            document.getElementById('span-existed').style.display = 'none'
        }

        if (existed == false) {
            if (ma != "" && ten != '' && tc != '' ) {
                $.ajax({
                    url: '/MaHocPhan/ThemMaHocPhan',
                    type: 'post',
                    data: {
                        ma: ma.toUpperCase(),
                        ten: ten,
                        tc: tc,
                    },
                    beforeSend: function () {
                        LoadingButton('btnLuuMHP')
                    },
                    success: function (data) {
                        if (data == 'error') {
                            HienLoi()
                        }
                        else {
                            window.location.reload()
                        }
                    }
                })
            }
        }
    }
    Active(1, 8)

    // Reset modal
    function ResetModal() {
        $('#textMHP').val('')
        $('#textTHP').val('')
    }

    // chinh sua mhp
    function ChinhSuaMHP(i) {
        var row = i.closest('tr')
        var id = row.cells[0].innerHTML
        console.log(id)
        var ma = row.cells[1].innerText
        var ten = row.cells[2].innerText
        var tc = row.cells[3].innerText
        $('#textEditMHP').val(ma)
        $('#textEditTHP').val(ten)
        $('#textEditTC').val(tc)
        $('#textEditID').val(id)
    }

    // luu chinh sua
    function LuuChinhSua() {
        var ma = $('#textEditMHP').val()
        var ten = $('#textEditTHP').val()
        var tc = $('#textEditTC').val()
        var id = $('#textEditID').val()
        console.log(data)
        var existed = false;
        for (var i in data) {
            if (data[i].id == ma.toUpperCase()) {
                existed = true;
            }
        }
        if (existed == true) {
            document.getElementById('span-existed').style.display = 'unset'
        }
        else {
            document.getElementById('span-existed').style.display = 'none'
        }

        if (existed == false) {
            if (ma != null && ten != null && tc != null && id != null) {
                $.ajax({
                    url: '/MaHocPhan/ChinhSuaMHP',
                    type: 'post',
                    data: {
                        id: id,
                        ma: ma,
                        ten: ten,
                        tc: tc,
                    },
                    beforeSend: function () {
                        LoadingButton('btnEditMHP')
                    },
                    success: function (data) {
                        if (data == 'error') {
                            HienLoi()
                        }
                        else {
                            window.location.reload()
                        }
                    }
                })
            }
        }
    }
</script>