@model DanhSachThongBao
@{
    ViewData["Title"] = "DanhSachThongBao_GV";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="" style="margin-bottom: 10px;">
    <div class="card">
        <h5 class="card-header">
            <u>Thông báo</u>
            <span class="d-flex align-items-center" id="spanSearchTK">
                <input type="text"
                       id="SearchTB"
                       class="form-control border-0 shadow-none"
                       placeholder="Tìm kiếm..."
                       aria-label="Search..." />
                <i class="bx bx-search fs-4 lh-0"></i>
            </span>
        </h5>
        <div id="tableBody">
            <div class="table-responsive text-nowrap">
                <table class="table table-hover" id="DSTB">
                    <thead>
                        <tr>
                            <th onclick="sortTable(0, 'DSTB')">Tựa đề</th>
                            <th onclick="sortTable(1, 'DSTB')" style="text-align: center;">Ngày</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach (var i in Model.DS)
                        {
                            <tr data-bs-toggle="modal"
                            class="cursor-pointer"
                                 data-bs-target="#modalScrollable"
                                 onclick="HienNoiDung('@i.id')">
                                <td style="width: 60vw">
                                    <i class="fa fa-bullhorn fa-lg text-primary me-3"></i>
                                    <strong>@i.tuaDe</strong>
                                </td>
                                <td style="text-align: center;">@i.thoiGian</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="card-header" style="text-align: center">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item prev">
                            <a class="page-link" href="@Url.Action("DanhSachThongBao","ThongBao", new { p = 1})">
                                <i class="tf-icon bx bx-chevrons-left"></i>
                            </a>
                        </li>
                        @for (var i = 1; i <= Model.soTrang; i++)
                        {
                            if (i == Model.trangHienTai)
                            {
                                <li class="page-item active">
                                    <a class="page-link" href="@Url.Action("DanhSachThongBao","ThongBao", new { p = i})">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("DanhSachThongBao","ThongBao", new { p = i})">@i</a>
                                </li>
                            }
                        }
                        <li class="page-item next">
                            <a class="page-link" href="@Url.Action("DanhSachThongBao","ThongBao", new { p = Model.soTrang})">
                                <i class="tf-icon bx bx-chevrons-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalScrollable" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document" id="modalTB">

    </div>
</div>


<script src="~/js/DanhSachThongBao.js" asp-append-version="true"></script>

<script>
    $(document).ready(function () {
        Active(1, 1)
    })
</script>