@model IEnumerable<modelTaiKhoan>
@{
    ViewData["Title"] = "DanhSachTaiKhoan";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="" style="margin-bottom: 10px;">
    <div class="card">
        <h5 class="card-header">
            <button type="button"
                    id="buttonThemNhom"
                    class="btn btn-icon btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#modalThemTaiKhoan">
                <span class="tf-icons bx bx-plus"></span>
            </button>
            Danh sách tài khoản
            <span class="d-flex align-items-center" id="spanSearchTK">
                <input type="text"
                       id="SearchTK"
                       class="form-control border-0 shadow-none"
                       placeholder="Tìm kiếm..."
                       aria-label="Search..." />
                <i class="bx bx-search fs-4 lh-0"></i>
            </span>
        </h5>
        <div class="card-header" style="display: flex; margin-top: -20px; text-align: center" id="divSearchTK">
            
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover hover" id="DSTK">
                <thead>
                    <tr>
                        <th onclick="sortTable(0, 'DSTK')">ID</th>
                        <th></th>
                        <th onclick="sortTable(3, 'DSTK')">Họ và tên</th>
                        <th onclick="sortTable(3, 'DSTK')"></th>
                        <th onclick="sortTable(4, 'DSTK')">Email</th>
                        <th onclick="sortTable(5, 'DSTK')">Lần HĐ cuối</th>
                        <th onclick="sortTable(6, 'DSTK')" style="text-align: center;">Quản trị</th>
                        <th onclick="sortTable(7, 'DSTK')"></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0" id="tableBody">
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td><strong>@i.dn</strong></td>
                            <td>
                                <div style="text-align: center;">
                                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center" style="text-align: center !important; justify-content: center">
                                        <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="@i.hoTen" style="text-align: center !important">
                                            <img src="@i.avatar" alt="Avatar" class="rounded-circle" />
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            @{
                                var hoten = i.hoTen.Split(" ");
                                var ho = "";
                                for (int x = 0; x < hoten.Length - 1; x++)
                                {
                                    ho += hoten[x] + " ";
                                }
                                var ten = hoten[hoten.Length - 1];
                            }
                            <td>
                                @ho
                            </td>
                            <td>
                                @ten
                            </td>
                            <td>
                                @i.email
                            </td>
                            <td>
                                @i.lanHDCuoi
                            </td>
                            <td>
                                <div style="text-align: center;">
                                    @if (i.isAdmin == true)
                                    {
                                        <strong>X</strong>
                                    }
                                </div>
                            </td>
                            <td>
                                <div class="dropdown" style="z-index: 1 !important">
                                    <p style="display: none">@i.hoatDong</p>
                                    <button type="button"
                                            class="btn p-0 dropdown-toggle hide-arrow"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modalXacNhanKhoa"
                                            onclick="HienXacNhan('@i.id', '@i.hoatDong', this)">
                                        @if (i.isAdmin == false)
                                        {
                                            if (i.hoatDong == true)
                                            {
                                                <i class="bx bx-lock-open-alt"></i>
                                            }
                                            else
                                            {
                                                <i class="bx bx-lock" style="color: red"></i>
                                            }
                                        }
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- xac nhan modal -->
<div class="modal fade" id="modalXacNhanKhoa" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Xác nhận</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="idKhoa" style="display: none" />
                <input id="idRow" style="display: none" />
                <h4 id="h4XN"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="modalDong">
                    Đóng
                </button>
                <button type="button" class="btn btn-danger" onclick="TaskKhoaTaiKhoan()" id="btnXN">
                </button>
            </div>
        </div>
    </div>
</div>
<!-- xac nhan modal -->
<!-- Them tai khoan -->
<div class="modal fade" id="modalThemTaiKhoan" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm tài khoản mới</h5>

                <button type="button"
                        id="btnThem_dong"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-header" style="margin-top: -20px; margin-bottom: -20px">
                <h7 class="modal-title" id="alert" style="color: red"></h7>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameSmall" class="form-label">ID</label>
                        <input type="text" id="IDthem" class="form-control latin_letters inputThem" maxlength="24" placeholder="ID của tài khoản..." />
                    </div>
                </div>
                <div class="row g-2" style="margin-bottom: 15px;">
                    <div class="col mb-0">
                        <label class="form-label" for="emailSmall">Mật khẩu</label>
                        <input type="password" class="form-control latin_letters inputThem" maxlength="24" id="MKthem" placeholder="******" />
                    </div>
                    <div class="col mb-0">
                        <label for="dobSmall" class="form-label">Xác nhận</label>
                        <input id="XNMKthem" type="password" class="form-control latin_letters inputThem" placeholder="******" />
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameSmall" class="form-label">Họ tên</label>
                        <input type="text" id="Namethem" class="form-control inputThem" placeholder="Họ và tên..." />
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameSmall" class="form-label">Email</label>
                        <input type="email" id="Emailthem" class="form-control inputThem" placeholder="Email..." />
                    </div>
                </div>
            </div>
            <div id="footerThem">
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Đóng
                    </button>
                    <button type="button" onclick="HienXacNhanThem()" class="btn btn-primary">
                        Thêm
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Them tai khoan -->

    <script src="~/js/DanhSachTaiKhoan.js" asp-append-version="true"></script>
