@model IEnumerable<modelTaiKhoan>
@{
    Layout = null;
}

@foreach (var i in Model)
{
    <tr>
        <td><strong>@i.dn</strong></td>
        <td>
            <div style="text-align: center;">
                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center" style="text-align: center !important; justify-content: center">
                    <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="@i.hoTen" style="text-align: center !important">
                        <img src="@i.avatar" alt="Avatar" class="rounded-circle" />
                    </li>
                </ul>
            </div>
        </td>
        @{
            var hoten = i.hoTen.Split(" ");
            var ho = "";
            for (int x = 0; x < hoten.Length - 1; x++)
            {
                ho += hoten[x] + " ";
            }
            var ten = hoten[hoten.Length - 1];
        }
        <td>
            @ho
        </td>
        <td>
            @ten
        </td>
        <td>
            @i.email
        </td>
        <td>
            @i.lanHDCuoi
        </td>
        <td>
            <div style="text-align: center;">
                @if (i.isAdmin == true)
                {
                    <strong>X</strong>
                }
            </div>
        </td>
        <td>
            <div class="dropdown" style="z-index: 1 !important">
                <p style="display: none">@i.hoatDong</p>
                <button type="button"
                        class="btn p-0 dropdown-toggle hide-arrow"
                        data-bs-toggle="modal"
                        data-bs-target="#modalXacNhanKhoa"
                        onclick="HienXacNhan('@i.id', '@i.hoatDong', this)">
                    @if (i.isAdmin == false)
                    {
                        if (i.hoatDong == true)
                        {
                            <i class="bx bx-lock-open-alt"></i>
                        }
                        else
                        {
                            <i class="bx bx-lock" style="color: red"></i>
                        }
                    }
                </button>
            </div>
        </td>
    </tr>
}
